body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
}

a {
	text-decoration: none;
	color: inherit;
}

body > * {
	padding: 10px calc(max(50% - 500px, 50px));
	line-height: 1.4em;
}

header p {
	margin: 0;
}

header {
	color: #FFF;
	background-color: #000;
	overflow: auto;
}

header img {
	height: 100px;
}

header > aside {
	float: right;
	text-align: left;
}

nav a {
	border: solid 1px #508;
	color: #508;
	padding: 0 10px;
	display: inline-block;
	margin: 0;
}

nav a:hover {
	background-color: #508;
	color: #FFF;
}

nav a:last-child {
	float: right;
}

#cart-count {
	background-color: #F00;
	color: #FFF;
	padding: 1px 4px;
}

#itemlist {
	column-count: 3;
	column-fill: balance;
}

#itemlist article {
	display: inline-block;
	border: solid 1px #508;
	width: calc(100% - 10px - 10px);
	padding: 10px;
	margin-bottom: 20px;
}

#itemlist img {
	position: relative;
	width: 100%;
}

#itemlist p {
	margin: 0;
	text-align: center;
}

#addcart {
	display: inline-block;
	overflow: auto;
	float: right;
}

#gallery {
	position: relative;
	padding-left: calc(100% - 100px - 10px);
}

#gallery > article > img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: calc(100% - 100px - 10px);
}

#gallery > article > label {
	display: block;
	margin-left: 10px;
}

#gallery > article > label > img {
	width: 100px;
}

#gallery > article > input {
	display: none;
}

#gallery > article > input:checked + img {
	opacity: 1;
}

article.admin {
	border: solid 1px;
	padding: 10px;
	margin: 20px 0;
}

form input[type=submit] {
	float: right;
}

form input[type=input],
form textarea {
	width: calc(100% - 100px);
}

h2 {
	border-bottom: solid 2px;
}
