body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
}

form input[type=input],
form input[type=number],
form textarea {
	width: calc(100% - 120px);
}

body > * {
	padding: 10px calc(max(50% - 500px, 50px));
	line-height: 1.4em;
}

header p {
	margin: 0;
}

header {
	color: #FFF;
	background-color: #000;
	overflow: auto;
}

header img {
	height: 100px;
}

header > aside {
	float: right;
	text-align: left;
}

.button, .price {
	border: solid 1px #508;
	background: #FFF;
	line-height: 1.5em;
	color: #508;
	text-decoration: none;
	font-size: 20px;
	padding: 0 10px;
	display: inline-block;
}

.price {
	color: #000;
	margin: 0 10px;
	border: solid 1px #A90;
	background: #FFC;
	font-weight: normal;
}

.button:hover {
	background-color: #EEF;
	color: #000;
	cursor: pointer;
}

.counter {
	background-color: #F00;
	color: #FFF;
	padding: 1px 4px;
}

.itemlist {
	column-count: 3;
	column-fill: balance;
}

.itemlist a {
	margin-bottom: 20px;
	display: inline-block;
	width: calc(100% - 10px - 10px);
	padding: 10px;
}

.itemlist img {
	position: relative;
	width: 100%;
}

.itemlist p {
	margin: 0;
	text-align: center;
}

.right {
	display: inline-block;
	overflow: auto;
	float: right;
}

.gallery {
	position: relative;
	padding-left: calc(100% - 100px);
}

.gallery > article > img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: calc(100% - 100px - 10px);
}

.gallery > article > label {
	display: block;
}

.gallery > article > label > img {
	width: 100px;
}

.gallery > article > input {
	display: none;
}

.gallery > article > input:checked + img {
	opacity: 1;
}

.admin {
	border: solid 1px #508;
	padding: 10px;
	margin: 10px 0;
}
